@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.body {
  max-width: 1440px;
  text-align: center;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}
.header__top {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 35px 0;
}
.header__logo {
  grid-column: 1/3;
  justify-self: start;
  margin-left: 30px;
  position: relative;
}
.header__logo-link {
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  color: white;
}
.header__logo::before {
  position: absolute;
  content: url(/img/dashicons-cloud.svg);
  left: -30px;
  top: -6px;
}
.header__menu {
  grid-column: 4/10;
  justify-self: center;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  list-style: none;
  text-transform: uppercase;
}
.header__item > a {
  padding: 0 10px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.header__lang {
  grid-column: 10/12;
}
.header__lang-text {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.header__lang-text::before {
  position: absolute;
  content: url(/img/emojione-flag-for-flag-united-states.svg);
  right: 25px;
  bottom: -10px;
}
.header__login {
  grid-column: 12/13;
}
.header__login-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background: rgba(0, 0, 0, 0);
  padding: 10px 30px;
  border-color: white;
}

.btn {
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 6px;
}

.header__content {
  margin-top: 140px;
}
.header__content-title {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  text-transform: uppercase;
}
.header__content-text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}
.header__content-btn {
  margin-top: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 17px 50px;
  background-color: white;
  color: #ED4C5C;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
}
.overview__text {
  width: 445px;
  text-align: left;
  height: 250px;
  margin: 140px 92px 110px 165px;
}
.overview__text h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 25px;
}
.overview__text a {
  color: #ED4C5C;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}
.overview__text p {
  margin-bottom: 20px;
}
.overview > img {
  margin: 95px;
  position: absolute;
  left: 50%;
}
.overview > img::before {
  position: relative;
  content: url(/img/play-button.png);
  top: 50%;
}

.features {
  margin-bottom: 50px;
  background-color: #FAFAFA;
  padding-bottom: 100px;
  padding-top: 80px;
}
.features h2 {
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}
.features__cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__card {
  width: 350px;
  height: 355px;
  margin: 30px;
}
.features__card-1 img {
  position: absolute;
}
.features__text-card-1 {
  position: relative;
  background-color: white;
  width: 293px;
  height: 198px;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
  bottom: 25%;
  left: 8%;
}
.features__card-2 img {
  position: absolute;
}
.features__text-card-2 {
  position: relative;
  background-color: white;
  width: 293px;
  height: 198px;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
  bottom: 25%;
  left: 8%;
}
.features__card-3 img {
  position: absolute;
}
.features__text-card-3 {
  position: relative;
  background-color: white;
  width: 293px;
  height: 198px;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
  bottom: 25%;
  left: 8%;
}
.features__text-card h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  padding: 33px 20px 20px;
}
.features__text-card p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  padding-bottom: 20px;
}
.features__text-card a {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  color: #ED4C5C;
}

.technology {
  height: 400px;
}
.technology h2 {
  padding-bottom: 50px;
  padding-top: 20px;
}
.technology__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.technology__item {
  width: 255px;
  height: 226px;
  position: relative;
}
.technology__wrapper {
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  top: 65px;
  left: 90px;
}
.technology__item span {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  color: rgba(16, 16, 16, 0.08);
}
.technology__item h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  margin-top: 20px;
}
.technology__item p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
}

.application {
  height: 500px;
  background: #ED4C5C;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.application__text {
  width: 445px;
  margin: 60px;
  text-align: left;
  margin: 100px 165px;
}
.application__text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}
.application__text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  margin: 40px 0;
}
.application__list {
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
}
.application__item:not(:last-child) {
  margin-right: 20px;
}
.application__slider {
  position: absolute;
  height: 500px;
}
.application .slider-1 {
  position: relative;
  left: 70%;
  top: 20%;
  z-index: 1;
}
.application .slider-2 {
  position: relative;
  left: 28%;
  top: 15%;
  z-index: 0;
}
.application .slider-3 {
  position: relative;
  left: 10%;
  top: 15%;
}

.contact {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact__text {
  text-align: left;
  margin: 150px;
  width: 55%;
}
.contact__text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 50px;
}
.contact__text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}
.contact__form {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  text-align: left;
  margin: 150px 80px;
}
.contact__form input {
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 15px 20px;
}
.contact__form input:nth-of-type(1) {
  grid-column: 1/6;
  grid-row: 1/2;
}
.contact__form input:nth-of-type(2) {
  grid-column: 6/11;
  grid-row: 1/2;
}
.contact__form input:last-of-type {
  grid-column: 1/11;
  grid-row: 2/3;
}
.contact__form select {
  grid-column: 1/11;
  grid-row: 3/4;
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 15px 20px;
}
.contact__form .btn-form {
  grid-column: 1/4;
  grid-row: 4/5;
  border: 1.5px solid #ED4C5C;
  border-radius: 6px;
  background-color: #ED4C5C;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.footer__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: line-height;
}

.main-footer {
  background-color: #FAFAFA;
  margin-top: 50px;
  padding-top: 100px;
  height: 435px;
}
.main-footer section {
  text-align: left;
}
.main-footer h2 {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}
.main-footer h2 ~ * {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
}
.main-footer__services {
  justify-self: center;
}
.main-footer__services h2 {
  margin-bottom: 35px;
}
.main-footer__list {
  list-style: none;
}
.main-footer__item {
  padding: 0;
  margin: 0;
}
.main-footer__item a {
  color: #101010;
  display: inline-block;
  padding: 1px;
}
.main-footer__address {
  justify-self: center;
}
.main-footer__contact-information {
  justify-self: center;
}
.main-footer__contact-information h2 {
  margin-bottom: 35px;
}
.main-footer__contact-information p {
  padding-bottom: 5px;
}
.main-footer__contact-information img {
  margin-right: 10px;
}
.main-footer__supported-cards {
  justify-self: center;
}
.main-footer h2 {
  margin-bottom: 35px;
}
.main-footer p {
  align-self: center;
}
